# Learn Python Pandas Dataframe

In [3]:
import numpy as np
import pandas as pd

## Create a Dataframe
A DataFrame can be created using different methods:

1. A list;
2. A list of lists;
3. A list of column names and a list of lists (each list for a column);
4. A dictionary of lists (column name -> column data);
5. Others ways, e.g. a dictionary of series, reading files.

### DataFrame From a List of Scalars
The length of the list is the number of rows, while each row has only one column

In [6]:
data = range(5)
pd.DataFrame(data) # a DataFrame with default index (0, 1, 2..) and default column name (0)

   0
0  0
1  1
2  2
3  3
4  4

### DataFrame From a List of Lists
The length of the list is the number of rows, while each row has multiple columns. The number of columns depends on the length of the longest row. When a row does not have enough columns, a 'NaN' value will be filled in.

In [11]:
data = [range(3), map(lambda x: x*2, range(5)), map(lambda x: x+1, range(4))]
pd.DataFrame(data) # a DataFrame with default index (0, 1, 2..) and default column name (0, 1, 2..)

   0  1  2    3    4
0  0  1  2  NaN  NaN
1  0  2  4  6.0  8.0
2  1  2  3  4.0  NaN

### DataFrame From a List of Column Names and a List of Lists

In [14]:
data = [['Andy', 88], ['Isaac', 99], ['Chloe', 100]]
pd.DataFrame(data, columns=['Name', 'Score'])

    Name  Score
0   Andy     88
1  Isaac     99
2  Chloe    100

### DataFrame From a Dictionary
In the previous examples, the data is always the list of rows. Here we can use a dictionary of columns, with keys as column names and values as column data.

In [18]:
apples = [3, 2, 0, 1]
oranges = [0, 3, 7, 2]
data = {'apples': apples, 'oranges': oranges}
purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

### Dataframe From a Dictionary with Custome Index

In [19]:
purchases = pd.DataFrame(data, index = ['June', 'Robert', 'Lily', 'David'])
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

### DataFrame From an Excel File

In [41]:
blpData = pd.read_excel('BlpData_20200529.xlsx', index_col='ID') # with the column ID as the index

## Access Data
After we have data loaded as DataFrame, we want to access it. Here is how.

### Take a Glance
Just showing a few lines of data can be helpful, functions head() and tail() can come in handy.

In [42]:
blpData.head() # show the first few rows (default is 5 rows), call head(n) to show the first n rows

,ID_TYPE,MARKET_SECTOR_DES,CNTRY_ISSUE_ISO,CNTRY_OF_RISK,EXCH_MARKET_STATUS,INDUSTRY_SECTOR,CAPITAL_CONTINGENT_SECURITY,SFC_AUTHORIZED_FUND,RTG_SP,RTG_MOODY,RTG_FITCH
ID,,,,,,,,,,,
US404280AG49,ISIN,Corp,GB,GB,ACTV,Financial,#N/A Field Not Applicable,#N/A Field Not Applicable,BBB,A3,A-
XS1992925013,ISIN,Corp,KY,CN,ACTV,Financial,#N/A Field Not Applicable,#N/A Field Not Applicable,A,NaN,A
DE000LB1P2W1,ISIN,Corp,DE,DE,ACTV,Financial,#N/A Field Not Applicable,#N/A Field Not Applicable,NaN,Baa2,BB+
6808 HK Equity,TICKER,Equity,HK,CN,ACTV,"Consumer, Cyclical",N,#N/A Field Not Applicable,NaN,NaN,NaN
XS2125922349,ISIN,Corp,CN,CN,ACTV,Financial,Y,#N/A Field Not Applicable,BB+,Ba1,BB+

In [41]:
blpData.tail() # show the last 5 rows, again tail(n) for the last n rows

,ID_TYPE,MARKET_SECTOR_DES,CNTRY_ISSUE_ISO,CNTRY_OF_RISK,EXCH_MARKET_STATUS,INDUSTRY_SECTOR,CAPITAL_CONTINGENT_SECURITY,SFC_AUTHORIZED_FUND,RTG_SP,RTG_MOODY,RTG_FITCH
ID,,,,,,,,,,,
XS1788514039,ISIN,Corp,HK,CN,ACTV,Basic Materials,#N/A Field Not Applicable,#N/A Field Not Applicable,BBB,NaN,A-
US88032XAT19,ISIN,Corp,KY,CN,ACTV,Communications,#N/A Field Not Applicable,#N/A Field Not Applicable,A+,A1,A+
XS1706605281,ISIN,Govt,CN,CN,ACTV,Government,#N/A Field Not Applicable,#N/A Field Not Applicable,NaN,NaN,NaN
XS1793463461,ISIN,Corp,VG,CN,ACTV,Financial,#N/A Field Not Applicable,#N/A Field Not Applicable,NaN,NaN,NaN
XS0520042416,ISIN,Corp,HK,HK,ACTV,Financial,#N/A Field Not Applicable,#N/A Field Not Applicable,A-,Baa1,NaN

### Show Data Types And Size

In [43]:
blpData.info() # show the column types, memoery usage gives a hint on how large the dataset is

<class 'pandas.core.frame.DataFrame'>
Index: 576 entries, US404280AG49 to XS0520042416
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_TYPE                      576 non-null    object
 1   MARKET_SECTOR_DES            576 non-null    object
 2   CNTRY_ISSUE_ISO              576 non-null    object
 3   CNTRY_OF_RISK                570 non-null    object
 4   EXCH_MARKET_STATUS           576 non-null    object
 5   INDUSTRY_SECTOR              576 non-null    object
 6   CAPITAL_CONTINGENT_SECURITY  576 non-null    object
 7   SFC_AUTHORIZED_FUND          576 non-null    object
 8   RTG_SP                       263 non-null    object
 9   RTG_MOODY                    336 non-null    object
 10  RTG_FITCH                    299 non-null    object
dtypes: object(11)
memory usage: 27.0+ KB

In [44]:
blpData.shape # how many rows, how many columns

(576, 11)

## Handling Duplicates
If row A and B have exactly the same column values except their index, they are considerred duplicate rows. Here is how to handle duplicates when necessary.

### Remove Duplicate Rows

In [45]:
bp2 = blpData.drop_duplicates()
bp2.shape # a lot of stock positions have exactly the same country, industry sector, etc. except their stock code (index)

(302, 11)

In [71]:
blpData.shape # not affected

(576, 11)

### Drop All Duplicate Rows

In [46]:
bp2 = blpData.drop_duplicates(keep=False)
bp2.shape # all duplicates are removed

(189, 11)

There are other ways to call the drop_duplicates() function:
    
1. keep=first; only keep the first record when duplicates occur

2. keep=last; only keep the last record when duplicates occur

3. inplace=True; change the original data frame instead of creating a new one

## Handling Column Names

In [47]:
blpData.columns # show columns

Index(['ID_TYPE', 'MARKET_SECTOR_DES', 'CNTRY_ISSUE_ISO', 'CNTRY_OF_RISK',
       'EXCH_MARKET_STATUS', 'INDUSTRY_SECTOR', 'CAPITAL_CONTINGENT_SECURITY',
       'SFC_AUTHORIZED_FUND', 'RTG_SP', 'RTG_MOODY', 'RTG_FITCH'],
      dtype='object')

### Change Column Name with Rename() Function

In [48]:
blpData.rename(columns={'RTG_SP': 's&p rating', 'RTG_MOODY': 'moodys rating', 'RTG_FITCH': 'fitch rating'}, inplace=True)
blpData.columns

Index(['ID_TYPE', 'MARKET_SECTOR_DES', 'CNTRY_ISSUE_ISO', 'CNTRY_OF_RISK',
       'EXCH_MARKET_STATUS', 'INDUSTRY_SECTOR', 'CAPITAL_CONTINGENT_SECURITY',
       'SFC_AUTHORIZED_FUND', 's&p rating', 'moodys rating', 'fitch rating'],
      dtype='object')

### Assign Column Names Directly

In [49]:
blpData.columns = [col.lower() for col in blpData.columns] # assign a list of equal length to the columns
blpData.columns

Index(['id_type', 'market_sector_des', 'cntry_issue_iso', 'cntry_of_risk',
       'exch_market_status', 'industry_sector', 'capital_contingent_security',
       'sfc_authorized_fund', 's&p rating', 'moodys rating', 'fitch rating'],
      dtype='object')

## Handling Missing Values
Missing values in the data is represented as NaN. For example, an empty cell in the excel file will be mapped to a NaN value in the data frame.

### Check Overall Missing Values

In [50]:
blpData.isnull() # produce a data frame whose value is True if the value is NaN, False otherwise.

,id_type,market_sector_des,cntry_issue_iso,cntry_of_risk,exch_market_status,industry_sector,capital_contingent_security,sfc_authorized_fund,s&p rating,moodys rating,fitch rating
ID,,,,,,,,,,,
US404280AG49,False,False,False,False,False,False,False,False,False,False,False
XS1992925013,False,False,False,False,False,False,False,False,False,True,False
DE000LB1P2W1,False,False,False,False,False,False,False,False,True,False,False
6808 HK Equity,False,False,False,False,False,False,False,False,True,True,True
XS2125922349,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
XS1788514039,False,False,False,False,False,False,False,False,False,True,False
US88032XAT19,False,False,False,False,False,False,False,False,False,False,False
XS1706605281,False,False,False,False,False,False,False,False,True,True,True
XS1793463461,False,False,False,False,False,False,False,False,True,True,True
XS0520042416,False,False,False,False,False,False,False,False,False,False,True

In [51]:
blpData.isnull().sum() # sum up each column in the new dataframe

id_type                          0
market_sector_des                0
cntry_issue_iso                  0
cntry_of_risk                    6
exch_market_status               0
industry_sector                  0
capital_contingent_security      0
sfc_authorized_fund              0
s&p rating                     313
moodys rating                  240
fitch rating                   277
dtype: int64

In [52]:
bp3 = blpData.dropna() # remove all rows with at least on NaN value
bp3.shape

(163, 11)

In [53]:
bp4 = blpData.dropna(axis=1) # drop all columns with at least one NaN value
bp4.shape

(576, 7)

In [54]:
bp4.info() # country_of_risk, s&p rating, moodys rating, fitch raing, these 4 columns are gone

<class 'pandas.core.frame.DataFrame'>
Index: 576 entries, US404280AG49 to XS0520042416
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id_type                      576 non-null    object
 1   market_sector_des            576 non-null    object
 2   cntry_issue_iso              576 non-null    object
 3   exch_market_status           576 non-null    object
 4   industry_sector              576 non-null    object
 5   capital_contingent_security  576 non-null    object
 6   sfc_authorized_fund          576 non-null    object
dtypes: object(7)
memory usage: 30.0+ KB

### Replace Missing Values In a Column

In [55]:
sp_ratings = blpData['s&p rating'] # take out the column
sp_ratings.head()

ID
US404280AG49      BBB
XS1992925013        A
DE000LB1P2W1      NaN
6808 HK Equity    NaN
XS2125922349      BB+
Name: s&p rating, dtype: object

In [56]:
sp_ratings.fillna('NR', inplace=True) # replace NaN with 'NR' and affect the original data
blpData.isnull().sum() # count NaN again, s&p ratings has no missing values now.

id_type                          0
market_sector_des                0
cntry_issue_iso                  0
cntry_of_risk                    6
exch_market_status               0
industry_sector                  0
capital_contingent_security      0
sfc_authorized_fund              0
s&p rating                       0
moodys rating                  240
fitch rating                   277
dtype: int64

In [57]:
sp_ratings.describe() # get statistics of a series (column)

count     576
unique     20
top        NR
freq      317
Name: s&p rating, dtype: object

In [58]:
sp_ratings.value_counts() # get the frequency of all values in a column

NR        317
BBB+       68
A-         51
BBB        32
A+         22
B+         16
B          13
BBB-       11
A          11
BB-        10
B-          6
BB          4
BB+         3
AA          3
AA- *-      2
AA-         2
B- *-       2
BB+ *-      1
BB- *-      1
AAA         1
Name: s&p rating, dtype: int64

## DataFrame Slicing, Selecting and Extracting
We can extract a column from a DataFrame object, how about extract a "sub frame" from a DataFrame, i.e., a few columns? Here is how.

### Create a Sub DataFrame

In [59]:
sub_set = blpData[['industry_sector', 'moodys rating']] # take two columns to form a new DataFrame, the new one is a copy
sub_set.head()

                   industry_sector moodys rating
ID
US404280AG49             Financial            A3
XS1992925013             Financial           NaN
DE000LB1P2W1             Financial          Baa2
6808 HK Equity  Consumer, Cyclical           NaN
XS2125922349             Financial           Ba1

In [61]:
sub_set['moodys rating'].fillna('NR', inplace=True) # changing the sub frame
blpData.isnull().sum() # the original dataframe is not affected

id_type                          0
market_sector_des                0
cntry_issue_iso                  0
cntry_of_risk                    6
exch_market_status               0
industry_sector                  0
capital_contingent_security      0
sfc_authorized_fund              0
s&p rating                       0
moodys rating                  240
fitch rating                   277
dtype: int64

In [62]:
sub_set.isnull().sum()

industry_sector    0
moodys rating      0
dtype: int64

### Get a Single Row

In [63]:
sub_set.loc['700 HK Equity'] # by index

industry_sector    Communications
moodys rating                  NR
Name: 700 HK Equity, dtype: object

In [113]:
sub_set.iloc[0] # by position (data frame will preserve the sequence of elements when reading from a data source)

industry_sector    Financial
moodys rating             A3
Name: US404280AG49, dtype: object

### Get a Particular Value

In [64]:
sub_set.loc['700 HK Equity']['industry_sector']

'Communications'

### Get a List of Rows

In [65]:
sub_set.loc['700 HK Equity':'9988 HK Equity'] # using index

                       industry_sector moodys rating
ID
700 HK Equity           Communications            NR
US458140BM12                Technology            A1
XS1573135099                 Financial            A3
XS1618597535                 Financial            B1
XS1973630889                 Financial            B2
...                                ...           ...
XS1813551584                 Financial            NR
HK0000163607                 Financial            NR
XS2180908001                 Financial            NR
US03523TBU16    Consumer, Non-cyclical          Baa1
9988 HK Equity          Communications            NR

[63 rows x 2 columns]

In [66]:
sub_set.iloc[0:10] # using position

                   industry_sector moodys rating
ID
US404280AG49             Financial            A3
XS1992925013             Financial            NR
DE000LB1P2W1             Financial          Baa2
6808 HK Equity  Consumer, Cyclical            NR
XS2125922349             Financial           Ba1
XS1897158892             Financial          Baa3
2318 HK Equity           Financial            NR
881 HK Equity   Consumer, Cyclical            NR
AMZN US Equity      Communications            NR
XS2115053626       Basic Materials          Baa1

### Conditional Selection
In list processing, we can use filter() to get the sub set of elements we need. Here is how to do filtering with DataFrame

In [67]:
new_series = sub_set['moodys rating'] == 'A3' # create a new series
new_series.head()

ID
US404280AG49       True
XS1992925013      False
DE000LB1P2W1      False
6808 HK Equity    False
XS2125922349      False
Name: moodys rating, dtype: bool

In [68]:
with_rating_A3 = blpData[new_series] # get all rows in BlpData whose rating is A3
with_rating_A3.head()

,id_type,market_sector_des,cntry_issue_iso,cntry_of_risk,exch_market_status,industry_sector,capital_contingent_security,sfc_authorized_fund,s&p rating,moodys rating,fitch rating
ID,,,,,,,,,,,
US404280AG49,ISIN,Corp,GB,GB,ACTV,Financial,#N/A Field Not Applicable,#N/A Field Not Applicable,BBB,A3,A-
US172967LS86,ISIN,Corp,US,US,ACTV,Financial,#N/A Field Not Applicable,#N/A Field Not Applicable,BBB+,A3,A
XS1267602214,ISIN,Corp,SG,CN,ACTV,Energy,#N/A Field Not Applicable,#N/A Field Not Applicable,BBB+,A3,A
US172967LM17,ISIN,Corp,US,US,ACTV,Financial,#N/A Field Not Applicable,#N/A Field Not Applicable,BBB+,A3,A
USJ41838AA14,ISIN,Corp,JP,JP,ACTV,Financial,#N/A Field Not Applicable,#N/A Field Not Applicable,A-,A3,A-u

In [70]:
all_equity = blpData[blpData['id_type'] == 'TICKER'] # using a single condition
all_equity.head()

,id_type,market_sector_des,cntry_issue_iso,cntry_of_risk,exch_market_status,industry_sector,capital_contingent_security,sfc_authorized_fund,s&p rating,moodys rating,fitch rating
ID,,,,,,,,,,,
6808 HK Equity,TICKER,Equity,HK,CN,ACTV,"Consumer, Cyclical",N,#N/A Field Not Applicable,NR,NaN,NaN
2318 HK Equity,TICKER,Equity,HK,CN,ACTV,Financial,N,#N/A Field Not Applicable,NR,NaN,NaN
881 HK Equity,TICKER,Equity,HK,CN,ACTV,"Consumer, Cyclical",N,#N/A Field Not Applicable,NR,NaN,NaN
AMZN US Equity,TICKER,Equity,US,US,ACTV,Communications,N,#N/A Field Not Applicable,NR,NaN,NaN
16 HK Equity,TICKER,Equity,HK,HK,ACTV,Financial,N,#N/A Field Not Applicable,NR,NaN,NaN

In [135]:
sub_set[(blpData['cntry_issue_iso'] == 'HK') & (blpData['id_type'] == 'TICKER')].head() # using two conditions with AND

                   industry_sector moodys rating
ID
6808 HK Equity  Consumer, Cyclical            NR
2318 HK Equity           Financial            NR
881 HK Equity   Consumer, Cyclical            NR
16 HK Equity             Financial            NR
8 HK Equity         Communications            NR

### Applying Functions
The counter part of map() in DataFrame

In [145]:
def rating_function(x):
    """
    Defines whether a bond is investment grade or not
    """
    if isinstance(x, float): # NaN is of type float
        return ""
    
    if x.startswith('A') or x.startswith('BBB'):
        return 'investment grade'
    else:
        return 'non-investment grade'

In [150]:
# create a new column by applying the function to an existing column
blpData['is_investment_grade'] = blpData['moodys rating'].apply(rating_function)
blpData[['moodys rating', 'is_investment_grade']].head()

               moodys rating   is_investment_grade
ID
US404280AG49              A3      investment grade
XS1992925013             NaN
DE000LB1P2W1            Baa2  non-investment grade
6808 HK Equity           NaN
XS2125922349             Ba1  non-investment grade

### Function Chaining
We can chain functions together

In [12]:
data = pd.DataFrame([1, 'Abc', 3, np.NaN, 'Hello', 99], columns=['Data']) # here we get a column of mixed data types
data

    Data
0      1
1    Abc
2      3
3    NaN
4  Hello
5     99

Say, we want to find all rows that start with letter 'H'

In [17]:
hasLetterH = data['Data'].str.startswith('H')
hasLetterH

0      NaN
1    False
2      NaN
3      NaN
4     True
5      NaN
Name: Data, dtype: object

Notice that the result contains 2 type of things:

1. NaN: if the input is NaN or if the the input is not applicable (in this case, float numbers);
2. True/False: if it's a string.

The following won't work, because 'hasLetterH' contains NaN values

In [18]:
data[hasLetterH]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

To make it work, we need to decide how to deal with NaN values, say we want to treat NaN values as False. Then we can chain another function fillna(), like below:

In [19]:
hasLetterH = data['Data'].str.startswith('H').fillna(False)
data[hasLetterH]

    Data
4  Hello

## Sorting

In [6]:
data = pd.DataFrame({'Name': ['A', 'B', 'C', 'D', 'E'], 'Seating Number': [3, 1, 5, 9, 7]})
data

  Name  Seating Number
0    A               3
1    B               1
2    C               5
3    D               9
4    E               7

Let's sort by seating number

In [9]:
data.sort_values(by='Seating Number')

  Name  Seating Number
1    B               1
0    A               3
2    C               5
4    E               7
3    D               9