# Risk Report Asset Allocation

In [1]:
import pandas as pd
from numpy import NaN

In [2]:
# Specify the date and portfolio here
date = '20200529'
portfolio = '19437'
mode='production'
reportingCurrency = 'USD'

## Load Portfolio

1. Load portfolio;
2. Add security id.

In [3]:
from risk_report.data import getIdnType, getPortfolioPositions
from utils.dframe import dictListToDataFrame

df = dictListToDataFrame(getPortfolioPositions(portfolio, date, mode))
df['SecurityId'] =  df.apply(lambda p: getIdnType(p)[0], axis=1)
df['SecurityIdType'] =  df.apply(lambda p: getIdnType(p)[1], axis=1)
df[['SecurityId', 'SecurityIdType', 'PeriodEndDate', 'LongShortDescription', 'SortKey', 'Quantity']].head()

,SecurityId,SecurityIdType,PeriodEndDate,LongShortDescription,SortKey,Quantity
0,CNY,Cash and Equivalents,2020-05-29,Cash Long,Cash and Equivalents,100.00
1,EUR,Cash and Equivalents,2020-05-29,Cash Long,Cash and Equivalents,200713.05
2,HKD,Cash and Equivalents,2020-05-29,Cash Long,Cash and Equivalents,12670525.93
3,USD,Cash and Equivalents,2020-05-29,Cash Long,Cash and Equivalents,42817706.21
4,1299 HK Equity,TICKER,2020-05-29,Investments Long,Common Stock,177200.00

## Prepare Blp Data

1. Write csv of security Ids that needs to load Bloomberg data;
2. Load Bloomberg data into dataframe;
3. Combine with portfolio.

### Write Security Id and Type to Csv File

1. Take those need Bloomberg data;
2. Write the unique security id and type to csv file.

In [4]:
from risk_report.main_asset_allocation import needBlpData

# write a csv file with two columns: SecurityId (the index) and SecurityIdType (the value)
df[df.apply(needBlpData, axis=1)].groupby('SecurityId').first()['SecurityIdType'].to_csv('idnType_' + date + '.csv')

### Load Blp Data

In [9]:
from risk_report.data import getBlpData

blpData = dictListToDataFrame(getBlpData(date, mode).values())
blpData = blpData.replace(to_replace='^#N/A', value=NaN, regex=True)
blpData.head()

,index,ID,ID_TYPE,MARKET_SECTOR_DES,CNTRY_ISSUE_ISO,CNTRY_OF_RISK,EXCH_MARKET_STATUS,INDUSTRY_SECTOR,CAPITAL_CONTINGENT_SECURITY,SFC_AUTHORIZED_FUND,RTG_SP,RTG_MOODY,RTG_FITCH
0,0,US404280AG49,ISIN,Corp,GB,GB,ACTV,Financial,NaN,NaN,BBB,A3,A-
1,0,XS1992925013,ISIN,Corp,KY,CN,ACTV,Financial,NaN,NaN,A,NaN,A
2,0,DE000LB1P2W1,ISIN,Corp,DE,DE,ACTV,Financial,NaN,NaN,NaN,Baa2,BB+
3,0,6808 HK Equity,TICKER,Equity,HK,CN,ACTV,"Consumer, Cyclical",N,NaN,NaN,NaN,NaN
4,0,XS2125922349,ISIN,Corp,CN,CN,ACTV,Financial,Y,NaN,BB+,Ba1,BB+

## Get Asset Type

In [ ]:
from risk_report.asset import getAssetType